@page "/databindingdemo"
@inherits DataBindingDemoBase;

<h3>Two way databinding</h3>

<div>
    <textarea @bind="description" @bind:event="oninput">

</textarea>

</div>
<div>
    Count : @description.Length
</div>


