@page "/"
@inherits EmployeeList
<h3>Employee</h3>
<input type="checkbox" id="show" @bind="ShowFooter" />
<label for="show">Show Footer</label>


    @if (employees != null)
    {
        <div class="card-deck">
    @foreach (var employee in employees)
    {

        <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"></DisplayEmployee>


    }
    </div>
    }





